&.small {
  &.landscape{
    .#{$app-namespace}-activity {
      .flow-chart-container {
        .left-section {
          .chart-container {
            .node {
              .node-container {
                  .startend{
                    padding: 3px 12px !important;
                    width: 85px !important;
                    p{
                        font-size: 15px !important;
                    }
                  }
                  .arrow {
                    width: 3px !important;
                  }
                  .process{   
                    padding: 3px !important;       
                    p {
                      font-size: 8px !important;
                    }
      
                    &.box1{
                      height: 125px !important;
                    }
                    &.box2{
                      height: 120px !important;
                    }
                    &.box3{
                      height: 115px !important;
                    }
                    &.box4{
                      height: 220px !important;
                    }
                    &.box5{
                      height: 61px !important;
                    }
                    &.box6{
                      height: 62px !important;
                    }
                    &.box7{
                      height: 120px !important;
                    }
                    &.box8{
                      height: 80px !important;
                    }
                    &.box8_1{
                      height: 62px !important;
                    }
                    &.box9{
                      height: 95px !important;
                    }
                    &.box9_1{
                      height: 80px !important;
                    }
                    &.box10{
                      height: 40px !important;
                    }
                    &.box15{
                      height: 37px !important;
                    }
                    &.box16{
                      height: 38px !important;
                    }
                    &.box17{
                      height: 61px !important;
                    }
                    &.box18{
                      height: 57px !important;
                    }
                    &.box19{
                      height: 95px !important;
                    }
                    &.box20{
                      height: 58px !important;
                    }
                    &.box21{
                      height: 78px !important;
                    }
                    &.box22{
                      height: 80px !important;
                    }
                    &.box23{
                      height: 140px !important;
                    }
                    &.box24{
                      height: 78px !important;
                    }
                    &.box25{
                      height: 61px !important;
                    }	
                    &.box26{
                      height: 121px !important;
                    }
                    &.box27{
                      height: 83px !important;
                    }
                    &.box28{
                      height: 122px !important;
                    }
                    &.box29{
                      height: 80px !important;
                    }
                    &.box30{
                      height: 143px !important;
                    }
                    &.box31{
                      height: 78px !important
                    }
                  }
              }
            }
            #chart-start {
              left:  33px ;
              .node-container {
                .text {
                  left: 0px !important;
                  width: 60px !important;
                  p {
                    font-size: 7px !important;
                  }
                }
                .arrow {
                  left: 3px !important;
                }
              }
            }
            
            #chart-start,
            #main-thread1, 
            #main-thread2,
            #main-thread3,
            #main-thread4 {
              .heading-child {
                margin-left: 13px !important;
              }
              .node-container {
                &::before {
                  width: 3px !important;
                }
  
                .text {
                  left: -33px !important;
                  &::before {
                    width: 3px !important;
                  }
                }
  
                .arrow {	
                  height: 10px !important;
                  left: -0px !important;
  
                  &::after {
                    border-left: 7px solid transparent !important;
                      border-right: 7px solid transparent !important;
                      border-top: 7px solid #000 !important;
                  }
                }
  
                .down {
                  left: -30px !important;
                }
              }
              .heading-child {
                margin-left: 21px ;
                .node-container {
                  .text {
                    font-size: 8px !important;
    
                  }
                }
              }
              &#main-thread1 {	
                left: -25px !important;
                .node-container {
                  .text {
                    width: 53px !important;
                  }
                }	
                #top-child {
                  bottom: 45px !important;
                  .node-container {
                    &::before {
                      top: calc(100% - 65.5px) !important;
                    }
                  }
                }
                #middle-child {
                  bottom: 10px !important; 
                }
                #bottom-child {
                  bottom: 30px !important;
                  .node-container {
                    &::before {
                      height: 200px !important;
                      top: calc(100% - 312.5px) !important;
                    }
                  }
                }
              }
              &#main-thread2 {
                left: -70px !important;
                .node-container {
                  .text {
                    width:54px !important;
                  }
                }
                #top-child-content {
                  justify-content: flex-start !important;
                  bottom: -40px !important;
                }
                #middle-child-content {
                  bottom: -20px !important;
                }
    
                #top-child1 {
                  .node-container {
                    &::before {
                      top: calc(100% - 37px) !important;
                    }
    
                    .text {
                      &::after {
                        width: 3px !important;
                        height: 10px !important;
                        left: 55px !important;
                        bottom: 21px !important;
                      }
                    }
    
                    .down {
                      height: 10px !important;
                      left: -21px !important;
                      bottom: 25px !important;
                      &::before {
                        bottom: -7px !important;
                        width: 3px !important;
                        height: 30px !important; 
                        left: -15px !important;
                      }
                    }
                  }
                }
                #top-child2 {
                  .node-container {
                    .text {
                      &::after {
                        width: 3px !important;
                        left: 55px !important;
                        bottom: 17px !important;
                        height: 10px !important;
                      }
                    }
    
                    .down {
                      left: -22px !important;
                      top: 30.5px !important;
                      &::before {
                        height: 27px !important;
                        right: -14px !important;
                        width: 3px !important;
                        bottom:  -6px !important;
                      }
                    }
                  }
                }
                #top-child3 {
                  .node-container {
                    &::before {
                      height: 80px !important;
                      top: calc(100% - 142.5px) !important;
                    }
                  }
                }
    
                #middle-child-content {
                  justify-content: flex-start !important;
                }
    
                #middle-child1 {
                  .node-container {
                    &::before {
                      top: calc(100% - 47px) !important;
                    }
                  }
                }
    
                #middle-child3 {
                  .node-container {
                    &::before {
                      height: 65px !important;
                      top: calc(100% - 114.7px) !important;
                    }
                  }
                }
    
                  #middle-child2 {
                    .node-container {
                      .down {
                      height: 18px !important;
                      left: -26px !important; 
                      }
                    }
                  }
    
                #bottom-child-content {
                  bottom: 5px !important;
                }
    
                #bottom-child1 {
                  .node-container {
                    &::before {
                      top: calc(100% - 45.5px) !important;				
                    }
                    .down {
                      height: 18px !important;
                      left: -26px !important;
                    }
                  }
                }
                #bottom-child2 {
                  bottom: 20px !important;
                  .node-container {
                    &::before {
                      height: 80px !important;
                      top: calc(100% - 102.5px) !important;				
                    }
    
                    .down {
                      height: 18px !important;
                      left: -26px !important;
                    }
                  }
                }
              }
              &#main-thread3 {
                left: -120px !important;
                .node-container {
                  .text {
                    width: 58px !important;
                  }
                }
                #top-child11 {
                  .node-container {
                    &::before {
                      height: 45.5px !important;
                      top: calc(100% - 24px) !important;
                    }
                    .text {
                      &::after {
                        width: 3px !important;
                        height: 17px !important;
                          left: 63px !important;
                          bottom: 8px !important;
                      }
                    }
                    .down {
                      left: -10.5px !important;
                      top: 81px !important;
                      height: 18px !important;
                      &::before {
                        bottom: -26px ;
                        right: -43px ;
                        width: 3px !important; 
                      }
                    }
                  }
                }
                #top-child12 {
                  .node-container {
                    .text {
                      &::after {
                        width: 3px !important;
                        left:59px !important;
                        height: 10px !important;
                        bottom: 9px !important;
                      }
                    }
                    .down {
                      height: 24px !important;
                      left: -14px !important;
                      top: 313px !important;
                      &::before {
                        height: 314px !important;
                        bottom: -134px !important;
                        right: -156.5px !important;
                        width: 3px !important;
                      }
                    }
                  }
                }
                #top-child2-1 {
                  .node-container {
                    &::before {
                      height: 148px;
                      top: calc(100% - 36px);
                    }
                  }
                }

                #middle-child2-content {
                  bottom: -30px !important;
                }
                #middle-child2-1 {
                  .node-container {
                    &::before {
                      height: 76px !important;
                      top: calc(100% - 34.5px) !important;
                    }
                  }
                }
    
                #bottom-child1-content {
                  bottom: -30px ;
                }
                #bottom-child1-1 {
                  .node-container {
                    &::before {
                      height: 118px !important;
                      top: calc(100% - 45.5px) !important;	
                    }							}
                  }
                }
                #bottom-child2-content {
                  bottom: -30px !important;

                  #bottom-child2-1 {
                    .node-container {
                      &::before {
                        top: calc(100% - 44.5px) !important;
                      }
                    }
                  }
                  #bottom-child2-2 {
                    .node-container {
                      &::before {
                        height: 39px !important;
                        top: calc(100% - 72px) !important;
                      }
                      
                      .text {
                        &::after {
                          width: 3px !important;
                          left: 62px !important;
                          bottom: 18px !important;
                          height: 16px !important;
                        }
                      }
                      .down {
                        height: 19px !important;
                        left: -11px !important;
                        bottom: 59px !important;
                        &::before {
                          height: 63px !important;
                          left: -31px !important;
                          bottom: -14px !important;
                          width: 3px !important;
                        }
                      }
                    }
                  }
                }
                
              &#main-thread4 {
                left: -155px !important;
    
                #heading4 {
                  margin-top: 14.5px ;
                }
                .heading-child {
                  bottom: 2px !important;
                }
                .node-container {
                  .text {
                    width: 52px !important;
                  }
                }
    
                #top-child111 {
                  .node-container {
                    &::before {
                      height: 110.1px !important;
                      top: calc(100% - 66px) !important;
                    }
                  }
                }
    
                #holder2 {
                  bottom: 60px !important;
                }
                #top-child121 {
                  .node-container {
                    &::before {
                      height: 110px !important;
                      top: calc(100% - 67px) !important;
                    }
                  }
                }
                #holder3 {
                  top: 60px !important;
                }
                #bottom-child2-2-1 {
                  .node-container {
                    &::before {
                      height: 120px !important;
                        top: calc(100% - 77px) !important;
                    }
                  }
                }
              }
            }
            &.mac-os {

              .heading-child {
                left: 10px;
              }
					
              #main-thread2{
                top: 11px;
              }
              #main-thread3{
                top: 11px;
    
                #top-child1-content {
                  top: -30px;
                }
                #top-child2-content {
                  top: -35px;
                }
    
                #middle-child2-1 {
                  bottom: 35px;
                }
                #middle-child2-2 {
                  bottom: 35px;
                }

                #bottom-child1-content {
                  bottom: -25px !important;
                  #bottom-child1-1{
                    top: -30px;
    
                    .node-container::before {
                      height: 119px !important;
                      top: calc(100% - 34.5px) !important;
                    }
                  }
                }

                #top-child2-1 {
                  .node-container::before {
                    height: 152px !important;
                    top: calc(100% - 28px) !important;
                  }
                }
                #top-child2-2 {
                  top: -10px;
                }
                #top-child2-3 {
                  top: 10px;
                }
              }
              #main-thread4{
                top: 5px;
    
                .heading-child {
                  bottom: 8px;
                }
                #top-child3 > .node-container::before {
                  height: 80px !important;
                  top: calc(100% - 132.5px) !important;
                }
              }
            }
          }
        }
      }
    }
    @-moz-document url-prefix() {
      .#{$app-namespace}-activity {
        .flow-chart-container {
          .left-section{
            .chart-container{
              #chart-start{
              left: 54px !important;
              }
              #chart-start,
              #main-thread1, 
              #main-thread2,
              #main-thread3,
              #main-thread4 {
                .heading-child {
                  margin-left: 13px ;
                }
                &#main-thread1 {	
                  .heading-child {
                    margin-left: 24px !important;
                  }
                  width: 160px !important;
                }

                &#main-thread2 {	
                  #top-child2 {
                    .node-container {
                      .down{
                        &::before {
                          left: 12px !important;
                        }
                      }
                    }
                  }
                }
                &#main-thread3 {	
                  #top-child11 {
                    .down {
                      &::before{
                        height: 90px !important;
                        bottom: -28px !important;
                        right: -45px !important;
                      }
                    }
                  }
                  #top-child12 {
                    >.node-container {
                      &::before {
                        top: calc(100% - 41px) !important;
                      }
                    }
                  }
                  #top-child2-1 {
                    .node-container {
                      &::before {
                        height: 148px !important;
                        top: calc(100% - 36px) !important;
                      }
                    }
                  }
                  #bottom-child1-content {
                    top: 50px !important;
                  }                  
                  #bottom-child2-content {
                    bottom: -50px !important;
                  }
                  #bottom-child2-2 {
                    .node-container{
                      .down{
                        &::before{
                          height: 40px !important;
                          left: -19px !important;
                          bottom: -2px !important;
                        }
                      }
                    }
                  }
                }
                &#main-thread4 {
                  .heading-child {
                    bottom: 2px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media screen and (-ms-high-contrast: active),
		screen and (-ms-high-contrast: none) {
			.#{$app-namespace}-activity-container {
				.#{$app-namespace}-activity {
					.left-section {
						.#{$app-namespace}-scalable-wrapper-container {
							.chart-container {
								#chart-start{
									max-width: 132px !important; 
								}
							}
						}
						.chart-container {
							#chart-start{
								max-width: 132px !important; 
                .text {
                  width: 59px !important;
                }
							}
              .heading-child {
                margin-left: -7px !important;
              }
              #main-thread3{
                .node-container {
                  .text {
                    width: 57px !important;
                  }
                }
                #middle-child2-content {
                  bottom: -0px !important;
                }
                #bottom-child1-content {
                  bottom: 10px !important;
                }
                #bottom-child2-content {
                  bottom: -45px !important;
                }
              }
              #main-thread4{
                .heading-child {
                  margin-left: 5px !important;
                  bottom: 2px !important;
                }
              }
						}
					}
				}
			}
		}
  }
}
  