.question-container {
  width: 100%;
  opacity: 0;
  position: relative;
  font-family: inherit;
  height: calc(100% - 24px);
  animation: fadeInAnimation 2s forwards;

  @keyframes fadeInAnimation {
    50%,
    100% {
      opacity: 1;
    }
  }
  .question-wrapper {
    left: 50%;
    width: 600px;
    height: calc(100% - 24px);
    overflow: hidden;
    margin-top: 24px;
    overflow-y: auto;
    position: relative;
    margin-bottom: 24px;
    transform: translateX(-50%);
    > div {
      margin-bottom: 24px;
    }

    .question-header {
      display: flex;
      position: relative;
      padding-right: 10px;
      flex-direction: column;

      h1 {
        font-size: 16px;
        color: #697070;
        line-height: 22px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 8px;
        
      }

      h2 {
        font-size: 22px;
        color: #002e60;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.38px;
        // &:focus {
        //   box-shadow: inset 0 0 0 0px #ffffff, inset 0 0 0 2px #006a7c;
        // }
      }

      .sr-only {
        width: 100%;
      }

      table{
        margin-top: 8px;
        caption,th,td{
          font-size: 22px;
          line-height: 28px;
          font-family: inherit;
        }
      }
    }

    .question-options {
      width: calc(100% - 10px);
      display: flex;
      position: relative;
      flex-direction: column;

      .options {
        width: 100%;

        .option-wrapper {
          width: 100%;
          list-style: none;
          position: relative;
          margin-bottom: 16px;
          &:last-of-type {
            margin-bottom: 0;
          }
          .option {
            width: 100%;
            height: auto;
            min-height: 48px;
            padding: 12px 16px;
            position: relative;
            border-radius: 12px;
            box-sizing: border-box;
            background-color: #ffffff;
            border: 0.5px solid #c7c7c7;

            display: flex;
            flex-direction: row;
            align-items: flex-start;

            &.submitted {
              border-width: 2px;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }

            &.correct {
              border-color: #397f3c;
            }

            &.incorrect {
              border-color: #da1010;
            }

            input[type="radio"] {
              top: 0;
              left: 0;
              opacity: 0;
              width: 100%;
              height: 100%;
              cursor: pointer;
              position: absolute;

              &.attempted {
                pointer-events: none;
                cursor: auto;

                &:focus {
                  + div > span {
                    box-shadow: none;
                  }
                }
              }

              &:checked {
                cursor: default;
              }

              &:focus {
                + div > span {
                  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #00749b;
                }
              }
              &:disabled {
                cursor: default;
              }
            }

            &:hover input + span {
              background: blue;
            }

            & {
              input[type="radio"] + div > span {
                top: 0;
                left: 0;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                position: relative;
                pointer-events: none;
                display: inline-block;
                border: 1.5px solid #6a7070;
                background-color: white;

                &::after {
                  top: 50%;
                  left: 50%;
                  content: "";
                  width: 12px;
                  height: 12px;
                  position: absolute;
                  border-radius: 50%;
                  background: #00749b;
                  transform: translate(-50%, -50%);
                }
              }

              input[type="radio"] + div {
                & + span {
                  display: flex;
                  font-size: 22px;
                  color: #252525;
                  line-height: 28px;
                  margin-left: 12px;
                  font-family: inherit;
                  letter-spacing: -0.41px;
                  display: inline-block;
                }

                & > span {
                  &::after {
                    opacity: 0.1;
                  }
                }
              }

              input[type="radio"]:checked + div {
                & + span {
                  color: #002d64;
                }

                & > span {
                  color: #fff;
                  border-color: #00749b;

                  &::after {
                    opacity: 1;
                  }
                }
              }
            }
          }
          .option-description {
            border: 2px solid transparent;
            border-top: none;
            border-radius: 0;
            padding: 12px 16px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .correct-incorrect-logo {
              width: 28px;
              height: 28px;
              flex-shrink: 0;
              background: none;
              background-size: cover;
              background-repeat: no-repeat;
            }

            .description-text {
              padding-left: 12px;
              
              p {
                font-size: 22px;
                //color: #252525;
                color: #fff;
                line-height: 28px;
                font-family: inherit;
                letter-spacing: -0.08px;
                &:first-of-type {
                  font-weight: bold;
                }
              }
            }

            &.correct {
              border-color: #397f3c;
              // background: #f7faf7;
              background-color: #397f3c;
              animation: fadeIn 0.8s linear forwards;
              .correct-incorrect-logo {
                background-image: url(../../app/assets/images/icon_correct.svg);
                // width: 24px;
                // height: 24px;
                // background-color: #FFFFFF;
                // border-radius: 50%;
              }

              .description-text {
                p {
                  color: #FFFFFF;
                  &:first-of-type {
                    color: #058232;
                    color: #FFFFFF;
                    
                  }
                }
              }
            }

            &.incorrect {
              border-color: #bf3131;
              background:  #bf3131;
              .correct-incorrect-logo {
                background-image: url(../../app/assets/images/icon_incorrect.svg);
                width: 28px;
                  height: 28px;
                  flex-shrink: 0;
                
                  background-size: cover;
                  background-repeat: no-repeat;
                 
                  border-radius: 50%;
              }

              .description-text {
                p {
                  &:first-of-type {
                    //color: #bf3131;
                    color: #fff;
                  }
                }
              }
            }

            @keyframes fadeIn {
              from{
                opacity: 0;
              }

              to{
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .question-footer {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      // padding-bottom: 24px;
      justify-content: space-between;
      width: calc(100% - 10px);

      button {
        margin: 0;
        border: none;
        font-size: 18px;
        color: #ffffff;
        line-height: 22px;
        font-weight: bold;
        padding: 10px 24px;
        border-radius: 20px;
        font-family: inherit;

        &:disabled {
          opacity: 0.4;
          cursor: default;
        }
      }

      .button-submit {
        background: #00749b;
      }

      .button-continue {
        background: #002d64;
      }
    }
  }
}
