&.#{$app-namespace}-responsive-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  font-family: inherit;
  flex-direction: column;
  justify-content: flex-start;
  background: $activity-background-color;
}

&.medium {
  &.#{$app-namespace}-responsive-wrapper {
    min-height: 670px;
    //min-width: 768px;
  }
}

&.small,&.extraSmall {
  min-height: 960px;

  .pehtmlflowcharts-caption-container {
    height: 45px;
    .caption-inner {
      font-size: 11px;
      line-height: 17px;
    }
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  &.#{$app-namespace}-responsive-wrapper {
    overflow: hidden;
  }

  }