&.large{
  &.landscape {
   .#{$app-namespace}-activity {
      .left-section {
        .chart-container {
           .flow-chart{
             min-width: 900px;
          }
          .process{
            &.blue{
              width: 326px;
            }
          }
         #exam1{
           .node{
            //  max-width: 225px;
             .node-container{
              //  max-width: 225px;
              //  min-width: 225px;
             }
             .arrow-text{
               &.green{
                left: 27px;
               }
            }
           }

           #left_child{
            // margin-right: 0;
           }

           .process{
            //  min-width: 225px;
            //  max-width: 225px;

             &.pink{
               .down-text{
                 right: 8px;
               }
             }
           }

           #sideText{
           

              padding: 0px 4px;

              .node-container{
                min-width: unset;

                p{
                  font-size: 18px;
                  line-height: 22px;
                }
              }
          }
         }
        }
      }
    }
  }
}
