.question-container {
  .question-wrapper {
    .question-header {
      .question-text-wrapper {
        .question3-data-table {
          width: 500px;
          margin-top: 10px;
          color: #002e60;
        }
      }
    }
  }
}
